{{ if .Site.Data.service.enable}}
{{"<!-- service -->" | safeHTML }}
<section id="services" class="bg-one section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                {{"<!-- section title -->" | safeHTML }}
                <div class="title text-center wow fadeIn" data-wow-duration="500ms">
                    <h2>{{ with .Site.Data.service.heading }} {{ . }} {{ end }}<span class="color">{{ with .Site.Data.service.headingSpan }} {{ . }} {{ end }}</span></h2>
                    <div class="border-meghna"></div>
                </div>
            </div>
            {{"<!-- /section title -->" | safeHTML }}

            {{ range .Site.Data.service.serviceItem}}
            {{"<!-- Single Service Item -->" | safeHTML }}
            <article class="col-lg-4 col-md-6 col-12 wow fadeInUp" data-wow-duration="500ms">
                <div class="service-block text-center">
                    <div class="service-icon text-center">
                        <i class="{{ .icon }}"></i>
                    </div>
                    <h3>{{ .title }}</h3>
                    <div class="carousel">
                            <div class="carousel-inner">
                                <input class="carousel-open" type="radio" id="carousel-1" name="carousel" aria-hidden="true" hidden  checked="checked">
                                <div class="carousel-element">
                        
                                    Railway Construction (e.g. Straight line, Turnouts/sets, and curves
                                </div>
                                <input class="carousel-open" type="radio" id="carousel-2" name="carousel" aria-hidden="true" hidden >
                                <div class="carousel-element">
                                
                                    Railway maintenance (e.g. Repair of horizontal and vertical misalignment, Rail Distressing, Gauge widening, replacement of rails, sleepers and fasteners
                                </div>
                                <input class="carousel-open" type="radio" id="carousel-3" name="carousel" aria-hidden="true" hidden >
                                <div class="carousel-element">
                                
                                    Building and maintenance of drainage systems, Embankments, Cuttings and Culverts.
                                </div>
                                <label for="carousel-3" class="carousel-control prev control-1">‹</label>
                                <label for="carousel-2" class="carousel-control next control-1">›</label>
                                <label for="carousel-1" class="carousel-control prev control-2">‹</label>
                                <label for="carousel-3" class="carousel-control next control-2">›</label>
                                <label for="carousel-2" class="carousel-control prev control-3">‹</label>
                                <label for="carousel-1" class="carousel-control next control-3">›</label>
                                <ol class="my-carousel-indicators">
                                    <li>
                                        <label for="carousel-1" class="carousel-bullet">•</label>
                                    </li>
                                    <li>
                                        <label for="carousel-2" class="carousel-bullet">•</label>
                                    </li>
                                    <li>
                                        <label for="carousel-3" class="carousel-bullet">•</label>
                                    </li>
                                </ol>
                            </div>
                        </div>
                 <!-- <p>{{ .content }}</p> -->
                </div>
            </article>
            {{"<!-- End Single Service Item -->" | safeHTML }}
            {{ end }}
        </div>
    </div>
</section>
{{"<!-- /service -->" | safeHTML }}
{{ end }}