{{ if .Site.Data.service.enable}}
{{"<!-- service -->" | safeHTML }}
<section id="services" class="bg-one section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                {{"<!-- section title -->" | safeHTML }}
                <div class="title text-center wow fadeIn" data-wow-duration="500ms">
                    <h2>{{ with .Site.Data.service.heading }} {{ . }} {{ end }}<span class="color">{{ with .Site.Data.service.headingSpan }} {{ . }} {{ end }}</span></h2>
                    <div class="border-meghna"></div>
                </div>
            </div>
            {{"<!-- /section title -->" | safeHTML }}

            {{ range .Site.Data.service.serviceItem}}

            {{$min := int .min}}
            {{$max := int .max}}
            {{$title := .title}}
            {{"<!-- Single Service Item -->" | safeHTML }}
            <article class="col-lg-4 col-md-6 col-12 wow fadeInUp" data-wow-duration="500ms">
                <div class="service-block text-center">
                    <div class="service-icon text-center">
                        <i class="{{ .icon }}"></i>
                    </div>
                    <h3>{{ .title }}</h3>
                    <div class="carousel">
                            <div class="carousel-inner">
                                {{$i := $min}}
                                {{range .list}}
                                <input class="carousel-open" type="radio" id="carousel-{{$i}}" name="carousel-{{$title}}" aria-hidden="true" hidden  checked="checked">
                                <div class="carousel-element">
                        
                                    {{.item}}
                                </div>
                                
                                    {{$i = add $i 1}}
                                {{end}}
                                {{$i = $min}}

                                {{range .list}}
                                    {{$prev := sub $i 1}}
                                    {{$next := add $i 1}}
                                    {{if eq $prev (sub $min 1)}}
                                        {{$prev = $max}}
                                    {{end}}
                                    {{if eq $i $max}}
                                        {{$next = $min}}
                                        {{end}}

                                <label for="carousel-{{$prev}}" class="carousel-control prev control-{{$i}}">‹</label>
                                <label for="carousel-{{$next}}" class="carousel-control next control-{{$i}}">›</label>

                                {{$i = add $i 1}}
                                {{end}}
                                <!-- <ol class="my-carousel-indicators">
                                    {{$i = $min}}
                                    {{range .list}}
                                    <li>
                                        <label for="carousel-{{$i}}" class="carousel-bullet">•</label>
                                    </li>
                                    {{$i = add $i 1}}
                                   {{end}}
                                </ol> -->
                            </div>
                        </div>
                </div>
            </article>
            {{"<!-- End Single Service Item -->" | safeHTML }}
            {{ end }}
        </div>
    </div>
</section>
{{"<!-- /service -->" | safeHTML }}
{{ end }}